@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.colors {
    background-color: #e8e5e5;
    border-radius: $border-radius;
    width: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  
  .colors__wrapper {
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .colors__item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  