@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.settlement__page {
    &-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    &-title {
        font-size: 30px;
        text-align: center;
        color: $text-brand;
        padding-top: 90px;
        margin-bottom: 30px;
    }

    &-subtitle {
        font-size: 24px;
        margin-bottom: 15px;
        color: $text-brand;
    }

    &-dropdowns {
        display: flex;
        justify-content: space-between;
    }
}

.dropdown {
    width: 350px;

    &__wrapper {
        width: 450px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        margin-top: 15px;
    }

    &__toggle {
        height: 60px;
        width: 100%;
        text-align-last: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
        font-size: 18px;

        &::after {
            color: transparent;
        }

        &:focus {
            box-shadow: none;
        }

        &:active {
            box-shadow: none;
        }
    }

    &__menu {
        width: 100%;
        text-align-last: left;
        max-height: 200px;
        overflow: auto;
        right: 0;
        left: auto;

        &-item {
            &:active {
                background-color: $brand !important;
                color: red;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3%;
    }
}