@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.accommodation__page {
    &-wrapper {
        max-width: 1240px;
        margin: 0 auto;
    }

    &-title {
        font-size: 30px;
    }
}