@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.calendar {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;

    &__item {
        // padding: 10px 100px 100px 100px;
        border: 1px solid #000;

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        &-subtitles {
            background-color: $brand;
            width: 100%;
            font-size: 18px;
            text-align: center;
            color: #fff;
        }

        &-events {
            padding: 20px;
            color: $text-brand;

            &:last-child {
                gap: 0;
            }
        }

        &-event {

        }

        &-btn {
        
        }
    }
}


.test {
    color: red;
    background-color: #000;
}
