@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.detailed__page {
    &-wrapper {
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &-title {
        font-size: 30px;
        color: $text-brand;
        margin-bottom: 20px;
    }

    &-item {
        width: 40%;
    }
}