@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.events__page {
    &-wrapper {
        max-width: 1240px;
        margin: 0 auto;
        padding-top: 90px;
    }
    
    &-title {
        font-size: 30px;
        color: $text-brand;
        text-align: center;
        // margin-top: 100px;
        margin-bottom: 40px;
    }

    &-content {
        
    }
}

