#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #FDA182; */
  /* background-color: #F5DEB3; */
  /* background-color: #77A6F7; */
  /* background-color: #D3E3FC; */
  /* background: #DEF2F1; */
  background: #FEFFFF;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #D3E3FC; */
  /* background: #DEF2F1; */
  background: #FEFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
}