:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #FDA182; */
  background-color: #F5DEB3;
}

body {
  margin: 0;
  box-sizing: border-box;
}
